# Ignore Postgres data volume

01-docker-terraform/ny_taxi_postgres_data
ny_taxi_postgres_data
../ny_taxi_postgres_data
/home/oduorri/Data-Engineering-/01-docker-terraform/ny_taxi_postgres_data
/home/oduorri/Data-Engineering-/ny_taxi_postgres_data
# Optional: Ignore other large or sensitive files
*.env
__pycache__/
*.pyc
