__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
.python-version


.uv/

*.parquet
*.csv
*.jsonl

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json
crash.log
crash.*.log
verride.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

01-docker-terraform/TERRADEMO/keys/
*.json

.env
.docker/

.DS_Store
.vscode/
.idea/

